*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.active{
  color: red;
}
body{
  /* background: linear-gradient(rgb(222, 239, 255), rgb(161, 174, 197)); */
  height: max-content;
  background-repeat: no-repeat;
  background-size: cover; /* или background-size: 100% 100%; */
  background-attachment: fixed;
}